{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Document{% endblock %}</title>

   
 
  </head>
  <body>
    
      {% block contents %}
       {% endblock %}
    

   
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
