{% extends 'header.html' %}
{% load static %}

{% block contents %}
    
    <table border="2">
        <thead>
            <tr>
                <th>Host Name</th>
                <th>Room Name</th>
                <th>Topic Name</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <td><span>@{{ room.host.username }}</span></td>
                <td>
                    <a href="{% url 'room_list' room.id %}">
                        <h5>{{ room.room_name }}</h5>
                    </a>
                </td>
                <td><small>{{ room.topic.name }}</small></td>
                <td>
                    <a  href="" class="delete_room" data-room-id ="{{room.id}}">Delete</a>
                </td>


                <td>   <a  class="">Edit</a></td>
            </tr>
          
        </tbody>
 
  
    
</table>
    <div >
        <a href="{% url 'room_register' %}" class="btn btn-success">Room Registration</a>
        <a href="{% url 'user_logout' %}" class="btn btn-secondary">Logout</a>
    </div>

<form action="POST" action="{% url 'room_delete' room.id }" style="display: none;" id="form_delete_{{room.id}}">
    {% csrf_token %}
    <button type="submit"></button>
    </form>
    {% endfor %}
    {% endblock %}
