{% extends 'header.html' %}
{% block title %}Room Form{% endblock %}
{% load crispy_forms_tags %}
{% block contents %}
<div class="container mt-5">
    <div class="col-md-8 offset-md-2">
        <h1 class="form-header text-center mb-4">Room Registration</h1>
        <form method="post" class="form-layout bg-light p-4 border rounded">
            {% csrf_token %}
            <div class="form-group">
                {{ room_form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
