{% extends 'header.html' %}
{% load static %}

{% block contents %}
<p>Hello {{request.user}}</p>
<div class="home-container">
    <div>
        <h3>Search container</h3>
     <form action="{%url 'room_home'%}">
    <input type="text" name="q" placeholder="Search Rooms...."/>
  </form>
<hr>
        {% include 'topic_components.html' %}
        <hr>
        <div>
            {% include 'logout.html' %}
           </div>
    </div>

    <div style="margin: 0 auto;width: 400px;">
        <a href="{% url 'room_register' %}" class="btn btn-success">Room Registration</a>
        <h5>{{room_count}} Rooms Available</h5>
        <div>
            {% include 'feed_components.html' %}
        </div>
        
    </div>
    <div>
        {% include 'activity_component.html' %}
    </div>
</div>
{% for room in rooms %}
<form method="POST" action="{% url 'room_delete' room.id %}" style="display: none;" id="form_delete_{{room.id}}">

    {% csrf_token %}
    <button type="submit"></button>
</form>
{% endfor %}

{% endblock %}