{% extends 'header.html' %}

{% block contents %}
<div >
    <div>
        <div>
            {% for room in rooms %}
            <div >
                <div >
                    <h2 >{{ room.room_name }}</h2>
                </div>
                <div >
                    <p >{{ room.content }}</p>
                    <p >
                        <small >Created: {{ room.created_date }}</small><br>
                        <small>Updated: {{ room.updates_date }}</small>
                    </p>
                </div>
            </div>
            {% endfor %}
            <div >
                <a href="{% url 'room_home' %}" class="btn btn-primary">Back to home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
