{% extends 'header.html' %}
{% load crispy_forms_tags %}

{% block contents %}
<div class="container mt-5">
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-4">User Signup</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Signup</button>
                    </form>
                    <div class="text-center mt-3">
                        <p>Already have an account? <a href="{% url 'user_login' %}" class="text-primary">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
